# Git
.gitattributes export-ignore
.gitignore export-ignore

# Dev
.nvmrc export-ignore
.release-it.json export-ignore
pnpm-lock.yaml export-ignore
.editorconfig export-ignore
dist/playground export-ignore
node_modules export-ignore
.stylelintrc.json export-ignore
.paradocs.json export-ignore
assets/logo-cleacss.svg export-ignore
