@layer elements {
  .checkbox {
    input[type="checkbox"] {
      border: var(--input-border-width) solid var(--input-border-color);
      border-radius: var(--input-checkbox-border-radius);
      display: grid;
      flex: 0 0 1em;
      height: 1em;
      min-height: 0;
      padding: 0;
      place-content: center;
      width: 1em;

      &::before {
        box-shadow: inset 1em 1em var(--input-checkbox-accent);
        clip-path: polygon(80% 0, 100% 13%, 43% 100%, 0 73%, 11% 54%, 39% 72%);
        content: "";
        height: 0.65em;
        transform: scale(0);
        transform-origin: center;
        transition: 120ms transform ease-in-out;
        width: 0.65em;
      }

      &:checked::before {
        transform: scale(1) rotate(5deg);
      }

      &[readonly] {
        border-style: dotted;
      }

      &[disabled] {
        color: var(--input-color-disabled);
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
