@layer elements {
  .switch {
    position: relative;

    input[type="checkbox"] {
      appearance: none;
      border: none;
      height: 1.4em;
      width: 2.4em;
      border-radius: 0.7em;
      background-color: var(--input-border-color);
      cursor: pointer;
      position: relative;
      transition: background-color var(--animation-duration) var(--animation-ease);
      padding: 0;
      flex: 0 0 2.4em;
      min-height: 0;
      top: -0.25em;

      &::before {
        content: "";
        position: absolute;
        top: 0.2em;
        left: 0.2em;
        height: 1em;
        width: 1em;
        border-radius: 50%;
        background-color: var(--color-neutral-50);
        transition: transform var(--animation-duration) var(--animation-ease);
        transform: translateX(0);
      }

      &:checked {
        background-color: var(--input-checkbox-accent);

        &::before {
          transform: translateX(1em);
        }
      }

      &[disabled] {
        opacity: 0.5;
      }
    }
  }
}
