:root,
:host {
  --button-background: var(--color-accent);
  --button-border-radius: var(--border-radius-rounded);
  --button-border-width: 2px;
  --button-color: var(--color-neutral-0);
  --button-hover-color: var(--color-neutral-0);
  --button-padding-block: 0.5em;
  --button-padding-inline: 1.5em;
}
