@include cssvars(
  (
    content-margin-phone: 1rem,
    content-margin-mobile: 1.5rem,
    content-margin-tablet: 5vw,
    content-margin-desktop: 5vw,
    content-margin-widescreen: 5vw,
    content-margin-fullhd: 6vw,
  )
);
