$content-margins: (
  content-margin-phone: 1.5rem,
  content-margin-mobile: 1.5rem,
  content-margin-tablet: max(((100vw - #{cssvar(tablet)}) / 2),
    1.5rem),
  content-margin-desktop: max(((100vw - #{cssvar(desktop)}) / 2),
    1.5rem),
  content-margin-widescreen: max(((100vw - #{cssvar(widescreen)}) / 2),
    1.5rem),
  content-margin-fullhd: max(((100vw - #{cssvar(fullhd)}) / 2), 1.5rem),
);

@include cssvars($content-margins);