:root,
:host {
  --table-border-color: var(--color-neutral-200);
  --table-border-width: 1px;
  --table-padding-x: var(--space-xs);
  --table-padding-y: var(--space-xs);
  --table-accent-background: var(--color-neutral-100);
  --table-accent-color: var(--color-neutral-600);
}
