:root,
:host {
  --font-family: system-ui;
  --font-family-title: var(--font-family);
  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  --line-height: 1.4;
  --line-height-title: 1;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-title: var(--font-weight-bold);
  --font-size-1: clamp(3rem, 1.6666rem + 4.44vw, 7rem);
  --font-size-2: clamp(2.5rem, 1.6666rem + 2.77vw, 5rem);
  --font-size-3: clamp(2rem, 1.5rem + 1.66vw, 3.5rem);
  --font-size-4: clamp(1.5rem, 1.1666rem + 1.11vw, 2.5rem);
  --font-size-5: clamp(1.25rem, 1.0833rem + .55vw, 1.75rem);
  --font-size-6: clamp(1rem, .9166rem + .27vw, 1.25rem);
  --font-size-7: clamp(.85rem, .8rem + .16vw, 1rem);
  --font-size-8: clamp(.75rem, .7166rem + .11vw, .85rem);
  --max-width-size-1: 15ch;
  --max-width-size-2: 18ch;
  --max-width-size-3: 20ch;
  --max-width-size-4: 25ch;
  --max-width-size-5: 45ch;
  --max-width-size-6: 65ch;
  --max-width-size-7: 70ch;
  --max-width-size-8: 75ch;
}