@layer reset;
@layer demo;
@layer layout;
@layer elements;
@layer is;
@layer has;

@import "../../dist/cleacss.untranspiled.css";

@layer demo {

  .logo {
    width: 130px;
  }

  :root {
    --logo-color: var(--color-neutral-900);
  }

  .grid-block {
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: var(--border-radius);
    padding: var(--space-s) var(--space-s) var(--space-xs) var(--space-xs);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: var(--font-family-mono);
    font-size: var(--font-size-8);
    position: relative;
    gap: var(--space-xs);
  }

  .grid-block::after {
    content: attr(class);
  }

  .flow-block {
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: var(--border-radius);
    padding: var(--space-s) var(--space-s) var(--space-xs) var(--space-xs);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: var(--font-family-mono);
    font-size: var(--font-size-8);
    position: relative;
    flex: 1 1 100%;
    width: 100%;
    gap: var(--space-xs);
  }

  .flow-block::after {
    content: attr(class);
  }

  .swatch {
    width: 4rem;
    height: 4rem;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }

  .swatch-label {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-8);
  }

}