/* --------------------------------------------------------------
# Generate alignment classes
-------------------------------------------------------------- */

$alignments: (
  "centered": "center",
  "justified": "justify",
  "left": "left",
  "right": "right",
);

@each $alignment, $text-align in $alignments {
  @layer has {
    .has-text-#{$alignment} {
      text-align: #{$text-align};
    }
  }
}

@each $alignment, $text-align in $alignments {
  @layer has {
    @include phone {
      .has-text-#{$alignment}-phone {
        text-align: #{$text-align};
      }
    }

    @include mobile {
      .has-text-#{$alignment}-mobile {
        text-align: #{$text-align};
      }
    }

    @include mobile-only {
      .has-text-#{$alignment}-mobile-only {
        text-align: #{$text-align};
      }
    }

    @include tablet {
      .has-text-#{$alignment}-tablet {
        text-align: #{$text-align};
      }
    }

    @include tablet-only {
      .has-text-#{$alignment}-tablet-only {
        text-align: #{$text-align};
      }
    }

    @include desktop {
      .has-text-#{$alignment}-desktop {
        text-align: #{$text-align};
      }
    }

    @include desktop-only {
      .has-text-#{$alignment}-desktop-only {
        text-align: #{$text-align};
      }
    }

    @include widescreen {
      .has-text-#{$alignment}-widescreen {
        text-align: #{$text-align};
      }
    }

    @include widescreen-only {
      .has-text-#{$alignment}-widescreen-only {
        text-align: #{$text-align};
      }
    }

    @include fullhd {
      .has-text-#{$alignment}-fullhd {
        text-align: #{$text-align};
      }
    }
  }
}
