@mixin generateBackgrounds($suffix: "") {
  .has-background#{if($suffix == "", "", "-" + $suffix)} {
    @include cssvar(background-color, cssvar(base-color));
    @include cssvar(background-color-invert, cssvar(base-color-invert));
    background-color: cssvar(background-color);
    color: cssvar(background-color-invert);
    ::selection {
      background-color: cssvar(background-color-invert);
      color: cssvar(background-color);
    }
  }
}

@include generateBackgrounds();

@include phone {
  @include generateBackgrounds("phone");
}

@include mobile {
  @include generateBackgrounds("mobile");
}

@include tablet {
  @include generateBackgrounds("tablet");
}

@include desktop {
  @include generateBackgrounds("desktop");
}

@include widescreen {
  @include generateBackgrounds("widescreen");
}

@include fullhd {
  @include generateBackgrounds("fullhd");
}

@include mobile-only {
  @include generateBackgrounds("mobile-only");
}

@include tablet-only {
  @include generateBackgrounds("tablet-only");
}

@include desktop-only {
  @include generateBackgrounds("desktop-only");
}

@include widescreen-only {
  @include generateBackgrounds("widescreen-only");
}
