@layer has {
  .has-text-neutral-0 {
    color: var(--color-neutral-0);
  }

  .has-text-neutral-50 {
    color: var(--color-neutral-50);
  }

  .has-text-neutral-100 {
    color: var(--color-neutral-100);
  }

  .has-text-neutral-200 {
    color: var(--color-neutral-200);
  }

  .has-text-neutral-300 {
    color: var(--color-neutral-300);
  }

  .has-text-neutral-400 {
    color: var(--color-neutral-400);
  }

  .has-text-neutral-500 {
    color: var(--color-neutral-500);
  }

  .has-text-neutral-600 {
    color: var(--color-neutral-600);
  }

  .has-text-neutral-700 {
    color: var(--color-neutral-700);
  }

  .has-text-neutral-800 {
    color: var(--color-neutral-800);
  }

  .has-text-neutral-900 {
    color: var(--color-neutral-900);
  }

  .has-text-neutral-1000 {
    color: var(--color-neutral-1000);
  }

  .has-text-success {
    color: var(--color-success);
  }

  .has-text-warning {
    color: var(--color-warning);
  }

  .has-text-error {
    color: var(--color-error);
  }

  .has-text-info {
    color: var(--color-info);
  }
}