@layer has {

  .has-text-neutral-0 {
    color: var(--color-neutral-0);
  }

  .has-text-neutral-50 {
    color: var(--color-neutral-50);
  }

  .has-text-neutral-100 {
    color: var(--color-neutral-100);
  }

  .has-text-neutral-200 {
    color: var(--color-neutral-200);
  }

  .has-text-neutral-300 {
    color: var(--color-neutral-300);
  }

  .has-text-neutral-400 {
    color: var(--color-neutral-400);
  }

  .has-text-neutral-500 {
    color: var(--color-neutral-500);
  }

  .has-text-neutral-600 {
    color: var(--color-neutral-600);
  }

  .has-text-neutral-700 {
    color: var(--color-neutral-700);
  }

  .has-text-neutral-800 {
    color: var(--color-neutral-800);
  }

  .has-text-neutral-900 {
    color: var(--color-neutral-900);
  }

  .has-text-neutral-1000 {
    color: var(--color-neutral-1000);
  }

  .has-text-white {
    color: var(--color-white);
  }

  .has-text-black {
    color: var(--color-black);
  }

  .has-text-accent {
    color: var(--color-accent);
  }

  .has-text-success {
    color: var(--color-success);
  }

  .has-text-warning {
    color: var(--color-warning);
  }

  .has-text-error {
    color: var(--color-error);
  }

  .has-text-info {
    color: var(--color-info);
  }

  .has-background-neutral-0 {
    background-color: var(--color-neutral-0);
  }

  .has-background-neutral-50 {
    background-color: var(--color-neutral-50);
  }

  .has-background-neutral-100 {
    background-color: var(--color-neutral-100);
  }

  .has-background-neutral-200 {
    background-color: var(--color-neutral-200);
  }

  .has-background-neutral-300 {
    background-color: var(--color-neutral-300);
  }

  .has-background-neutral-400 {
    background-color: var(--color-neutral-400);
  }

  .has-background-neutral-500 {
    background-color: var(--color-neutral-500);
  }

  .has-background-neutral-600 {
    background-color: var(--color-neutral-600);
  }

  .has-background-neutral-700 {
    background-color: var(--color-neutral-700);
  }

  .has-background-neutral-800 {
    background-color: var(--color-neutral-800);
  }

  .has-background-neutral-900 {
    background-color: var(--color-neutral-900);
  }

  .has-background-neutral-1000 {
    background-color: var(--color-neutral-1000);
  }

  .has-background-white {
    background-color: var(--color-white);
  }

  .has-background-black {
    background-color: var(--color-black);
  }

  .has-background-accent {
    background-color: var(--color-accent);
  }

  .has-background-accent-light {
    background-color: var(--color-accent-light);
  }

  .has-background-accent-dark {
    background-color: var(--color-accent-dark);
  }

  .has-background-success {
    background-color: var(--color-success);
  }

  .has-background-warning {
    background-color: var(--color-warning);
  }

  .has-background-error {
    background-color: var(--color-error);
  }

  .has-background-info {
    background-color: var(--color-info);
  }
}