<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="grid">
  <grid-visualizer></grid-visualizer>
  <header class="span-full grid">
    <div class="start-1 span-3">
      <p>... Logo ...</p>
    </div>
    <div class="span-7">
      <div class="flow-row gap-2xs">
        <p class="has-ml-a">... Navigation ...</p>
      </div>
    </div>
  </header>
  <main class="span-content flow">
    <p class="has-mx-a">... Content ...</p>
  </main>
  <footer class="span-full flow">
    <p class="has-mx-a">... Footer ...</p>
  </footer>

  <script type="module" src="/src/main.ts"></script>
</body>

</html>