/**
! Credits: https://dev.to/felipperegazio/css-custom-properties-vars-with-sass-scss-a-practical-architecture-strategy-1m88
*/
@use "sass:map";

$_cssvars: ();
$prefix: clea;

@mixin cssvars($css_variables, $prefix: $prefix, $root: ":root") {
  $_cssvars: map.merge($_cssvars, $css_variables) !global;
  #{$root} {
    @each $name, $value in $css_variables {
      --#{$prefix}-#{$name}: #{$value};
    }
  }
}

@function cssvar($name, $prefix: $prefix) {
  @return var(--#{$prefix}-#{$name}, map-get($_cssvars, $name));
}

@mixin cssvar($name, $value: "", $prefix: $prefix) {
  --#{$prefix}-#{$name}: #{$value};
}
