@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    background-color: var(--color-base-background);
    color: var(--color-base);
    color-scheme: light dark;
    font-family: var(--font-family);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    font-weight: var(--font-weight-normal);
    height: 100%;
    line-height: var(--line-height);
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }

  body {
    font-size: var(--font-size-6);
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }

  figure {
    figcaption {
      font-family: inherit;
      font-size: var(--font-size-7);
      margin-top: var(--space-s);
    }
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  strong {
    font-weight: var(--font-weight-bold);
  }

  em {
    font-style: italic;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  dl,
  dt,
  blockquote {
    overflow-wrap: break-word;
  }

  p {
    max-width: var(--max-width-size-6);
  }

  a,
  area,
  button,
  [role="button"],
  input,
  label,
  select,
  summary,
  textarea {
    font-size: inherit;
    touch-action: manipulation;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  :target {
    scroll-margin-top: var(--space-xl);
  }

  ::selection {
    background-color: var(--selection-background, var(--color-base));
    color: var(--selection-color, var(--color-accent));
  }

  mark {
    background-color: var(--color-neutral-200);
    border-radius: var(--border-radius-s);
    color: var(--color-base);
    padding-inline: 0.2em;
  }

  kbd {
    background-color: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-300);
    border-bottom-width: 2px;
    border-radius: var(--border-radius-s);
    font-family: var(--font-family-mono);
    font-size: var(--font-size-7);
    padding: 0.1em 0.3em;
  }

  abbr[title] {
    cursor: help;
    text-decoration: underline dotted;
  }

  @media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: 0.01ms !important;
    }
  }
}
