:root {
  --c-brand: #b34bf2;
  --c-brand-light: #bc68f0;
  --c-brand-secondary: #ffd645;
  --c-text: var(--clea-base-color);
  --c-bg: var(--clea-base-color-invert);
  --code-bg-color: #1a0b23;
}

html[color-scheme="dark"] {
  --clea-base-color-invert: #1a0b23;
  --clea-base-color: #d4adec;
  --clea-link-color: #d4adec;
  --code-bg-color: #0b050f;
  --code-inline-bg-color: #0b050f;
  --c-text-light: #ffd645;
}

html[color-scheme="dark"] .input, html[color-scheme="dark"] .radio, html[color-scheme="dark"] .checkbox {
  --clea-input-background-color: #0b050f;
  --clea-input-border-color: #473b51;
  --clea-input-outline-color: #d4adec;
}

.nav-bar-title {
  align-items: center;
  color: var(--c-brand) !important;
  display: flex;
  font-weight: bold !important;
}

.nav-bar-title::before {
  background-image: url("../../logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 32px;
  margin-right: 0.25rem;
  width: 32px;
}

.cleacss-column-demo {
  background-color: var(--c-brand);
  border-radius: var(--clea-border-radius-small);
  color: #fff;
  display: block;
  font-family: var(--clea-font-family);
  font-weight: bold;
  padding: 1em 0;
  text-align: center;
  text-shadow: 1px 1px 3px #3d1953;
}

.infobox {
  background-color: var(--c-brand-secondary);
  border-radius: var(--clea-border-radius);
  display: inline-block;
  padding: 1rem;
}

.infobox .title {
  line-height: 1.4 !important;
}

.home-hero {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-title {
  position: relative;
}

#main-title::after {
  content: "beta";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.3em;
  font-weight: bold;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background-color: var(--c-brand-secondary);
  padding: 0.25em 0.75em;
  border-radius: 40px;
  font-family: var(--clea-font-family);
  transform: translate(80%, -40%);
}

.home-hero .figure {
  max-width: 280px;
  position: relative;
  width: 100%;
}

.home-hero .figure:hover .image {
  opacity: 0;
}

.home-hero .figure:hover::before {
  background-image: url(../../logo-pixel.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  left: 1.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

[tabindex="-1"] {
  --clea-size-1: 2rem;
  --clea-size-2: 1.5rem;
  --clea-size-3: 1rem;
  --clea-size-4: 1rem;
  --clea-size-5: 1rem;
  --clea-size-6: 1rem;
  margin-top: 3rem;
}

h2[tabindex="-1"] {
  border-bottom: 2px dotted var(--c-brand);
  padding-bottom: 1rem;
}
.content a:not(.button) {
  text-decoration: underline;
}
.content a:not(.button):hover {
  color: var(--c-brand);
}
.cleacss-demo {
  margin: 2rem 0;
}

.cleacss-demo h2 {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
