@layer elements {

  .button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  button {
    align-items: center;
    appearance: none;
    background: var(--button-background);
    border: var(--button-border-width) solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-color);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    gap: var(--space-2xs);
    justify-content: center;
    line-height: var(--line-height);
    padding: var(--button-padding-y) var(--button-padding-x);
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    transition: all var(--animation-duration) var(--animation-ease);

    &:hover {
      color: var(--button-hover-color);
      background: var(--button-hover-background);
      border-color: var(--button-hover-border-color);
    }

    &:focus-visible {
      outline: var(--outline-width) solid var(--outline-color);
      outline-offset: var(--outline-offset);
    }

    @layer is {

      &[disabled],
      &.is-disabled {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
      }
    }

  }
}
