@use "./inputs/label";
@use "./inputs/message";
@use "./inputs/color";
@use "./inputs/date";
@use "./inputs/file";
@use "./inputs/radio";
@use "./inputs/checkbox";
@use "./inputs/range";
@use "./inputs/select";
@use "./inputs/textarea";
@use "./inputs/switch";

@layer elements {

  .input,
  .checkbox,
  .radio,
  .select,
  .switch {
    display: grid;
    font-size: var(--input-font-size);
    grid-template-columns: 1em auto;
    grid-template-rows: auto 1fr auto;

    input,
    textarea,
    select {
      appearance: none;
      background-color: var(--input-background-color);
      border: var(--input-border-width) solid var(--input-border-color);
      border-radius: var(--input-border-radius);
      color: var(--input-color);
      font-family: inherit;
      font-size: inherit;
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      max-width: 100%;
      min-height: var(--input-min-height);
      padding: var(--input-padding-y) var(--input-padding-x);
      width: 100%;

      &::placeholder {
        color: var(--input-placeholder-color);
        opacity: 1;
      }

      &:focus-visible {
        outline: var(--input-outline-width) solid var(--input-outline-color);
        outline-offset: var(--input-outline-offset);
      }
    }

    input:not([type="checkbox"], [type="radio"], textarea) {
      line-height: 1;
    }

    input[readonly] {
      cursor: not-allowed;
    }

    input[disabled] {
      color: var(--input-color-disabled);
      cursor: not-allowed;
    }

  }
}
