@layer elements {

  progress {
    appearance: none;
    border: none;
    border-radius: var(--border-radius-rounded);
    display: block;
    height: 0.5rem;
    overflow: hidden;
    width: 100%;

    &::-webkit-progress-bar {
      background-color: var(--color-neutral-200);
      border-radius: var(--border-radius-rounded);
    }

    &::-webkit-progress-value {
      background-color: var(--color-accent);
      border-radius: var(--border-radius-rounded);
    }

    &::-moz-progress-bar {
      background-color: var(--color-accent);
      border-radius: var(--border-radius-rounded);
    }
  }
}
