@layer elements {
  table {
    border-collapse: collapse;
    display: table;
    width: 100%;

    tr {
      background-color: transparent;
      border: none;

      &:nth-child(2n) {
        background-color: transparent;
      }
    }
  }

  thead,
  tfoot {
    background-color: var(--table-accent-background);
    color: var(--table-accent-color);
  }

  th,
  td {
    border: var(--table-border-width) solid var(--table-border-color);
    padding: var(--table-padding-x) var(--table-padding-y);
    text-align: left;
  }
}