@layer elements {
  .text {
    gap: 0;

    a {
      color: inherit;
      font-size: inherit;
      text-decoration: underline;
      text-decoration-color: var(--color-accent);
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.15em;

      &:focus-visible {
        outline: var(--outline-width) solid var(--outline-color);
        outline-offset: var(--outline-offset);
      }

      &:hover {
        color: var(--color-accent);
      }
    }

    ul {
      list-style: square;
      margin-left: 1em;
    }

    ol {
      list-style: decimal;
      margin-left: 1.35em;
    }

    hr {
      background-color: var(--color-neutral-200);
      border: none;
      display: block;
      height: 2px;
      margin-bottom: 0;
      width: 100%;
    }

    code {
      background-color: var(--color-neutral-800);
      border-radius: var(--border-radius-s);
      color: var(--color-neutral-50);
      display: inline-block;
      font-family: var(--font-family-mono);
      font-size: var(--font-size-7);
      line-height: 1;
      margin: 0;
      padding: var(--space-2xs);
    }

    pre {
      background-color: var(--color-neutral-800);
      border-radius: var(--border-radius);
      color: var(--color-neutral-50);
      display: block;
      font-family: var(--font-family-mono);
      margin-bottom: 0;
      overflow-x: auto;
      padding: var(--space-xs) var(--space-s);
      width: 100%;

      code {
        background-color: transparent;
        padding: 0;
      }
    }

    >*+* {
      margin-top: var(--space-default);
    }

    :is(h1, h2, h3, h4, h5, h6)+ :is(h1, h2, h3, h4, h5, h6) {
      margin-top: var(--space-xs);
    }
  }
}
