/* --------------------------------------------------------------
# Spacing classes
-------------------------------------------------------------- */

@mixin spacing($target: "") {
  @for $i from 0 through 7 {
    .p-#{$i}#{if($target == "", "", "-" + $target)} {
      padding: cssvar(spacing-#{$i});
    }

    .px-#{$i}#{if($target == "", "", "-" + $target)} {
      padding-inline: cssvar(spacing-#{$i});
    }

    .pl-#{$i}#{if($target == "", "", "-" + $target)} {
      padding-left: cssvar(spacing-#{$i});
    }

    .pr-#{$i}#{if($target == "", "", "-" + $target)} {
      padding-right: cssvar(spacing-#{$i});
    }

    .pb-#{$i}#{if($target == "", "", "-" + $target)} {
      padding-bottom: cssvar(spacing-#{$i});
    }

    .pt-#{$i}#{if($target == "", "", "-" + $target)} {
      padding-top: cssvar(spacing-#{$i});
    }

    .py-#{$i}#{if($target == "", "", "-" + $target)} {
      padding-block: cssvar(spacing-#{$i});
    }

    .m-#{$i}#{if($target == "", "", "-" + $target)} {
      margin: cssvar(spacing-#{$i});
    }

    .mx-#{$i}#{if($target == "", "", "-" + $target)} {
      margin-inline: cssvar(spacing-#{$i});
    }

    .my-#{$i}#{if($target == "", "", "-" + $target)} {
      margin-block: cssvar(spacing-#{$i});
    }

    .ml-#{$i}#{if($target == "", "", "-" + $target)} {
      margin-left: cssvar(spacing-#{$i});
    }

    .mr-#{$i}#{if($target == "", "", "-" + $target)} {
      margin-right: cssvar(spacing-#{$i});
    }

    .mb-#{$i}#{if($target == "", "", "-" + $target)} {
      margin-bottom: cssvar(spacing-#{$i});
    }

    .mt-#{$i}#{if($target == "", "", "-" + $target)} {
      margin-top: cssvar(spacing-#{$i});
    }
  }
}

@include spacing();

.mx-a {
  margin-inline: auto;
}

.my-a {
  margin-block: auto;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.mt-a {
  margin-top: auto;
}

.mb-a {
  margin-bottom: auto;
}
