/* --------------------------------------------------------------
# Base Styling
-------------------------------------------------------------- */

html {
  background-color: cssvar(base-color-invert);
  color: cssvar(base-color);
  font-family: cssvar(font-family);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: cssvar(font-weight-normal);
  line-height: cssvar(line-height);
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

p {
  font-family: cssvar(font-family);
  font-weight: cssvar(font-weight-normal);
  line-height: cssvar(line-height);
  @include followingTextElements {
    margin-top: cssvar(gap-small);
  }
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  border-radius: cssvar(border-radius);
  font-family: cssvar(font-family-mono);
  font-size: cssvar(size-7);
  margin: 0;
  padding: 0.25rem 0.5rem;
}

::selection {
  background-color: cssvar(base-color);
  color: cssvar(base-color-invert);
}

/* --------------------------------------------------------------
# Generate Font sizes
-------------------------------------------------------------- */

@include font-size();
@include responsive-font-size();

@include phone {
  @include font-size("phone");
}

@include mobile {
  @include font-size("mobile");
}

@include tablet {
  @include font-size("tablet");
}

@include desktop {
  @include font-size("desktop");
}

@include widescreen {
  @include font-size("widescreen");
}

@include fullhd {
  @include font-size("fullhd");
}

/* --------------------------------------------------------------
# Generate alignment classes
-------------------------------------------------------------- */

$alignments: (
  "centered": "center",
  "justified": "justify",
  "left": "left",
  "right": "right",
);

@each $alignment, $text-align in $alignments {
  .has-text-#{$alignment} {
    text-align: #{$text-align} !important;
  }
}

@each $alignment, $text-align in $alignments {
  @include phone {
    .has-text-#{$alignment}-phone {
      text-align: #{$text-align} !important;
    }
  }

  @include mobile {
    .has-text-#{$alignment}-mobile {
      text-align: #{$text-align} !important;
    }
  }

  @include mobile-only {
    .has-text-#{$alignment}-mobile-only {
      text-align: #{$text-align} !important;
    }
  }

  @include tablet {
    .has-text-#{$alignment}-tablet {
      text-align: #{$text-align} !important;
    }
  }

  @include tablet-only {
    .has-text-#{$alignment}-tablet-only {
      text-align: #{$text-align} !important;
    }
  }

  @include desktop {
    .has-text-#{$alignment}-desktop {
      text-align: #{$text-align} !important;
    }
  }

  @include desktop-only {
    .has-text-#{$alignment}-desktop-only {
      text-align: #{$text-align} !important;
    }
  }

  @include widescreen {
    .has-text-#{$alignment}-widescreen {
      text-align: #{$text-align} !important;
    }
  }

  @include widescreen-only {
    .has-text-#{$alignment}-widescreen-only {
      text-align: #{$text-align} !important;
    }
  }

  @include fullhd {
    .has-text-#{$alignment}-fullhd {
      text-align: #{$text-align} !important;
    }
  }
}

/* --------------------------------------------------------------
# Text style
-------------------------------------------------------------- */

.has-text-italic {
  font-style: italic !important;
}

.has-text-uppercase {
  text-transform: uppercase;
}

.has-text-bold,
.has-text-strong {
  font-weight: cssvar(font-weight-bold) !important;
}

.has-text-light {
  font-weight: cssvar(font-weight-light) !important;
}

.has-text-normal {
  font-weight: cssvar(font-weight-normal) !important;
}

/* --------------------------------------------------------------
# Text colors
-------------------------------------------------------------- */
.has-text-primary {
  color: cssvar(base-color) !important;
}

.has-text-secondary {
  color: cssvar(base-color) !important;
}
