@use "sass:math";

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: calc(cssvar(columns-gap) / 2 * -1);

  &.is-gapless {
    @include cssvar(columns-gap, 0);
  }

  &.is-centered {
    align-items: center;
  }

  &.is-bottom {
    align-items: flex-end;
  }

  &.is-oneline {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  >.column {
    display: block;
    flex: 1;
    max-width: 100%;
    padding: calc(cssvar(columns-gap) / 2);
  }
}

@mixin generateColumns($suffix: "") {
  @for $i from 1 through 11 {
    $num: $i;

    .columns>.column.column-#{$num}#{if($suffix == "", "", "-" + $suffix)} {
      // flex basis to keep flex wrap going
      flex: 1 1 100%;
      max-width: math.percentage(math.div($num, 12));
    }

    .columns.is-oneline>.column.column-#{$num}#{if($suffix == "", "", "-" + $suffix)} {
      flex: none;
      width: math.percentage(math.div($num, 12));
    }
  }

  .columns>.column.column-12#{if($suffix == "", "", "-" + $suffix)} {
    flex: none;
    width: 100%;
  }

  .columns>.column.column-narrow#{if($suffix == "", "", "-" + $suffix)} {
    max-width: fit-content;
  }
}

@include generateColumns();

@include phone {
  @include generateColumns("phone");
}

@include mobile {
  @include generateColumns("mobile");
}

@include tablet {
  @include generateColumns("tablet");
}

@include desktop {
  @include generateColumns("desktop");
}

@include widescreen {
  @include generateColumns("widescreen");
}

@include fullhd {
  @include generateColumns("fullhd");
}

@include mobile-only {
  @include generateColumns("mobile-only");
}

@include tablet-only {
  @include generateColumns("tablet-only");
}

@include desktop-only {
  @include generateColumns("desktop-only");
}

@include widescreen-only {
  @include generateColumns("widescreen-only");
}

.columns:not(.is-phone) {
  @include phone {
    >.column {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}