@use "sass:map";
/* --------------------------------------------------------------
# Container
-------------------------------------------------------------- */
.container {
  display: block;
  margin: 0;
  max-width: none;
  padding: 0;
  width: 100%;

  .section & {
    grid-column: 2 / -2;
  }

  &.is-fullwidth {
    grid-column: 1/-1;
    overflow-x: clip;
  }
}
