@use "../config/space" as space;

@layer layout {
  .flow {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--flow-gap);
    justify-content: start;
    width: 100%;
  }

  .flow .breakout {
    box-sizing: border-box;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }

  .flow-row {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: var(--flow-gap);
    width: 100%;
  }

  .flow.has-gap-0,
  .flow-row.has-gap-0 {
    --flow-gap: 0;
  }

  @each $name, $space in space.$space-scales {

    .flow.has-gap-#{$name},
    .flow-row.has-gap-#{$name} {
      --flow-gap: var(--space-#{$name});
    }
  }


  .flow .input,
  .flow .checkbox,
  .flow .radio,
  .flow .select {
    width: 100%;
  }
}